<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>FluxBus - Cadastro</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Garet&family=Poppins:wght@400;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
  <div class="login-container">
    <img src="{{ url_for('static', filename='images/Logo_completa.png') }}" alt="Logo FluxBus - Mobilidade Inteligente" class="fluxbus-logo">

    <form class="login-form">
      <input type="text" placeholder="Nome completo" required />
      <input type="email" placeholder="E-Mail" required />
      <input type="password" placeholder="Senha" required />
      <button type="submit">Cadastrar</button>
    </form>

    <p class="register-link">
      Já tem uma conta? <a href="{{ url_for('login') }}">Entrar!</a>
    </p>
  </div>
</body>
</html>
