:root{

    --cor01:#F2F2F2;
    --cor02:#0A4B59;
    --cor03:#0F758C;
    --cor04:#15A0BF;
    --cor05:#f2f2f21a;

}


* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}



body {

    font-family: 'Garet', sans-serif;

    background: linear-gradient(135deg, #0d0d0d 0%, var(--cor02) 100%);

    min-height: 100vh;

    display: flex;

    align-items: center;

    justify-content: center;

}



.login-container {

    background: rgba(13, 13, 13, 0.8);

    backdrop-filter: blur(10px);

    border: 1px solid var(--cor05);

    border-radius: 20px;

    padding: 40px 30px;

    width: 90%;

    max-width: 400px;

    text-align: center;

    align-items: center;

}



.fluxbus-logo {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 30px auto;
}
